<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fugaz+One&family=Jura:wght@700&family=Nosifer&family=Nunito:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/favicon.ico">
    <title>Bingr | <%=movie.title%></title>
</head>
<body>
    <h1>Bingr</h1>
    <header>
        <nav class="navBar">
            <a class="navItem" href="/dashboard">Home</a>
            <a class="navItem" href="/movies">Movies</a>
            <a class="navItem" href="/shows">Shows</a>
            <a class="navItem" href="/movies/new">Add Movie</a>
            <a class="navItem" href="/movies/<%=movie._id%>/edit">Edit Movie</a>
            <a class="navItem" href="/logout">Logout</a>
        </nav>
    </header>
    <div class="show-container">
        <div class="subshowContainer1">
            <p class="show-title"><%=movie.title%></p>
            <img class="show-image" src=<%=movie.img%>>
            <div class="show-edit-delete">
                <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Movie" />
                </form>
                <a href="/movies/<%=movie._id%>/edit">Edit Status/Rating</a>
            </div>
        </div>
        <div class="subshowContainer2">
            <div class="showCard">
                <p id="showTitle"> ~~~ SCENE: <%=movie.title%> ~~~</p>
                <p> <span>Director:</span> <%=movie.director%></p>
                <p> <span>Year of Release:</span> <%=movie.year%></p>
                <p> <span>Plot:</span> <%=movie.plot%></p>
                <p> <span>Box Office:</span> <%=movie.box_office%></p>
                <p> <span>IMDB Rating:</span> <%=movie.rating%>/10</p>
                <% if (movie.watched === true) { %>
                    <p> <span>User Rating:</span> <%=movie.user_rating%>/10</p>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>